.activity-search--main{
    width: 97%;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #202329;
    background: #fff;
    text-align: center;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    font-family: 'Montserrat';
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.activity-search--main::placeholder{
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;

}

.activity-search--main:focus {
    outline-color: #FFE1A1;
  }